name: CI - Build, Test e Deploy (.NET)

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Instalar .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restaurar pacotes
        run: dotnet restore "$SOLUTION"

      - name: Compilar solução
        run: dotnet build "$SOLUTION" -c Release --no-restore

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Instalar .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Executar testes com code coverage
        run: dotnet test "$TEST_PROJECT" --collect:"XPlat Code Coverage"

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: test
    environment:
      name: production
      url: pipeline-devops-pi.vercel.app
    permissions:
      contents: write

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Instalar .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Publicar aplicação
        run: dotnet publish -c Release -o "$PUBLISH_DIR"

      - name: Mensagem final
        run: echo " Deploy automatizado concluído!"
